@media only screen and (min-device-width: 240px) and (max-device-width: 768px) {
}

/* Ipad Landscape Media Queries  */

@media all and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) {
    .infra-manager-link-box .password {
        margin-left: 3em;
    }
    .infra-manager-link-box .username-col {
        min-width: 23%;
    }
}

/* ----------- iPad Pro Portrait ----------- */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) {
    .infra-manager-link-box .username-col {
        min-width: 23%;
    }
}

/* ----------- Galaxy Note II Portrait ----------- */

@media only screen and (min-device-width: 400px) and (max-device-width: 400px) and (orientation: portrait) {
    .infra-manager-link-box p {
        font-size: 13px;
    }
}
