.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img-list-container {
    display: flex;
    flex-wrap: wrap;
}
.img-list-wrap {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.img-list-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
span.cross.cross-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000024;
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
}
span.cross.cross-icon > span {
    background-color: red;
    height: 25px;
    width: 25px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
label.icon-wrap-label {
    display: flex;
    align-items: center;
}
.add-icon-wrap {
    width: 30px;
    height: 30px;
    border: 2px solid #0158d4;
    color: #0158d4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 100%;
    cursor: pointer;
}
.input-group.tag-input-wrapper {
    margin-bottom: 20px;
}
.input-group.tag-input-wrapper label {
    display: block;
    width: 100%;
}
.input-group.tag-input-wrapper .form-control.d-inline-flex.flex-wrap {
    border-radius: 0.25rem 0 0 0.25rem;
}
.badge.bg-secondary.bg-gradient.mr-1.my-auto.py-auto.pr-0 {
    background: #025ce2 !important;
    padding: 3px 5px 3px 10px !important;
}
.input-group.tag-input-wrapper .form-control.d-inline-flex.flex-wrap {
    height: auto;
}
.react-tags {
    position: relative;
    width: 100%;
    padding: 6px 0 0 6px;
    border: 1px solid #d1d1d1;
    border-radius: 1px;

    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;

    /* clicking anywhere will focus the input */
    cursor: text;
}

.react-tags.is-focused {
    border-color: #b1b1b1;
}
ul.hor-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.hor-list li {
    margin-right: 10px;
}
p.title strong {
    margin-left: 20px;
    letter-spacing: 1px;
}
.font-bold {
    font-weight: bold;
}
p.title {
    font-weight: 500;
}
.react-tags__selected {
    display: inline;
}

.react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    background: #f1f1f1;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.react-tags__selected-tag:after {
    content: "\2715";
    color: #aaa;
    margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
    border-color: #b1b1b1;
}

.react-tags__search {
    display: inline-block;

    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
}

@media screen and (min-width: 30em) {
    .react-tags__search {
        /* this will become the offsetParent for suggestions */
        position: relative;
    }
}

.react-tags__search-input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.react-tags__search-input::-ms-clear {
    display: none;
}

.react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 30em) {
    .react-tags__suggestions {
        width: 240px;
    }
}

.react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
}

.react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

.react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
}

.react-tags__suggestions li.is-active {
    background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
}
