.topup-card {
    border: 2px solid #1665d8;
}
.card-payment {
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 1px 3px rgb(0 0 0 / 4%);
    margin-bottom: 10px;
}
.card-payment .card-number,
.card-payment .card-title {
    color: #3e3f42;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}
.card-payment .card-link {
    color: #1665d8;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
}
.card-payment .form-group label {
    display: none;
}
@media screen and (max-width: 768px) {
    .wallet-input {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

.tooltip-wrapper .btn[disabled] {
    pointer-events: none;
}

.tooltip-wrapper.disabled {
    cursor: not-allowed;
}

.customer-details .dropdown-menu {
    width: auto !important;
}
@media screen and (max-width: 768px) {
    .customer-list-page .customer-action {
        display: inline-block;
    }
    .customer-list-page .dropdown {
        justify-content: center;
        display: flex;
        margin-bottom: 10px;
    }
}

/*
    Customer Affiliate Wallet
*/
.select-type label {
    display: none;
}
.affiliate-card .card-title {
}
.error-input .error {
    text-align: right;
    margin-bottom: 0px;
    font-size: 13px;
    color: #dc3545;
}
/*
    Customer Permission CSS
*/
.permission-col {
    padding: 0;
    display: flex;
}
.customer-permission .error {
    color: #dc3545 !important;
    text-align: right;
    margin-bottom: 0px;
    font-size: 13px;
}
.error-select > div:first-child {
    background-color: #fce4e4 !important;
    border: 1px solid #dc3545 !important;
    color: #dc3545;
}

.tooltip-mrr {
    position: relative;
    display: inline-block;
}

.tooltip-mrr .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip-mrr:hover .tooltip-text {
    visibility: visible;
}

.customer-list-page .mrr-data {
    white-space: nowrap;
}
